body {
    margin: 0;
    padding: 0;
    background-color: black;
}

p {
    text-align: center;
    font-size: 34px;
    font-family: cambria;
    font-weight: 700;
    color: #f1f7f6;
    
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    transform: scale(5);

}

.carregando {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: red;
    height: 50px;
    width: 50px;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}